*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

@media (min-width: 992px){
.side1 {
    width: 25%;
       } 
}

body{
    min-height: 100vh;
    width: 100%;
    background: rgb(255, 255, 255);
}

footer
{
    position: fixed;
    background: rgb(255, 255, 255);
    width: 100%;
    bottom: 20%;
    left: 0;
    padding-bottom: 20px;
    padding-top: 20px
}

#Bottom-footer 
{
    text-align: center;
    color: #c6c6c6;
    padding-bottom: 0px;
    padding-top: 0px;
    bottom: 1%;
}   



footer .container{
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    display: flex;
}

footer .container .side1 .side1-text
{
    color :#c6c6c6;
}


footer .container .side2
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
   
}

footer .container .side2 .side2-col1 .side2-box
{
    width: calc(100%/5-10px);
    margin-left: 10px;
    margin-right: 10px;
}

footer .container .side2 .side2-col2 .side2-box
{
    width: calc(100%/5-10px);
    margin-left: 10px;
    margin-right: 10px;
}

footer .container .side2 .side2-col3 .side2-box
{
    width: calc(100%/5-10px);
    margin-left: 10px;
    margin-right: 10px;
}

footer .container .side2 .side2-col4 .side2-box
{
    width: calc(100%/5-10px);
    margin-left: 10px;
    margin-right: 10px;
}

footer .container .side2  .side2-box .side2-linkname
{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 5px;
    position: relative;
}

footer li{
    list-style: none;
}

footer li a{
    color: #c6c6c6;
    text-decoration: none;
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

#hr-bot{
    margin-top: 16px;
    margin-bottom:16px;
}

