@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap"));

:root{
        --main-color: rgb(255, 255, 255);
        --black-color: rgb(123, 123, 123) ;
       

}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: none;
    transition: 0.2s ease;
}


html{
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-padding-top: 9rem;
        scroll-behavior: smooth;

    }

body{
    background-color: var(--main-color);
    
}

.logo img{
    width: 7rem;
  }

  /* header start */
  .header .logo img {
    height: 5rem;
    width: 15rem;
  }

  .header {
    background-color: white;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
  }

  .header  .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: black;
    border-bottom: 0.17rem solid transparent;


  }

  
  .header .navbar a:hover{
    
    border-color: rgb(128, 165, 42);
    padding-bottom: 1rem;
  }

  .header .buttons button{
    cursor: pointer;
    font-size: 1.6rem;
    margin-left: 8rem;
    background-color: white;

  }
  .dropbtn {
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0 7%;
    font-size: 1.6rem;
    margin: 0 1rem;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #ffffff;}
 
    /* header end */



/*slider start */
/* Slideshow container */

.slideshow-container {
    max-width: 160rem;
    position: relative;
    margin: auto;
    
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  

/*slider end */



.kargofoto{
    
    padding-left: 32rem;
    
    
}


.güncelblog h1{
    padding-top: 2rem;
    padding-left: 25rem;
}


/* alt slider start */
/* Slideshow container2 */

.slideshow-container2 {
    max-width: 160rem;
    position: relative;
    margin: auto;
    padding-left: 23rem;
    padding-top: 2rem;
    
  }
  
  /* Next & previous buttons */
  .prev2, .next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    
  }
  
  /* Position the "next button" to the right */
  .next2 {
    right: 96.8rem;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev2:hover, .next2:hover {
    background-color: rgba(0,0,0,0.8);
  }

  

/*alt slider end */







/* iletişim css'i başı*/

.iletisimheaderbuttons {
    margin-left: 10rem;
    color: black;
    padding: 1rem;
}

.contact section{
    display: flex;
}
.contact{
    display: flex;
    gap: 1rem;
    }

    .contact form h2{
        width: 300%;
        font-size: 2.1rem;
        padding: 0 7%;
        margin-top: 2rem;
        margin-left: 6rem;
        
    }
    

.contact form .inputBox{
    margin-top: 2rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
    border-radius: 30%;
    border-color: grey;

}

.contact form .inputBox input{
    width: 300%;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    text-transform: none;
    background-color: none;
    border-radius: 30px;
    border: 1px solid rgba(109, 105, 105, 0.5);
    
}
.iletişimbilgileri{
    margin-left: 40rem;
    margin-top: 2rem;
    

}
.iletişimbilgileri h1{
    font-size: 2.1rem;
    
}


.iletişimbilgileri h3{
    margin-top: 2rem;
    font-size: 1.4rem;
    color: rgb(96, 93, 93);

}

.iletişimbilgileri h4{
    margin-top: 5.5rem;
    font-size: 1.5rem;
    

}

.contact form .btn1{
    margin-left: 8rem;
    color: white;
    background-color: #6fa931;
    font-weight: bold;
    border-color: white;
    border-radius: 50px ;
    margin-bottom: 4rem;
    height: 3.5rem;
    border: 1px solid rgba(109, 105, 105, 0.5);

}

.contact form .btn2{
    
    margin-left: 0.1rem;
    color: rgb(2, 2, 2);
    background-color: #ffffff;
    font-weight: bold;
    border-color: grey;
    border-radius: 50px;
    height: 3.5rem;
    border: 1px solid rgba(109, 105, 105, 0.5);
}



/* iletişim css'i sonu*/


/* menü start



.menu .box-container .box {
    padding: 3rem;
    background-color: white;
    border-radius: 3rem;
    border-color: grey;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    

}
*/

.menu h1{
    padding-top: 2rem;
    padding-left: 15rem;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 0.00000001rem;
    padding-right: 12rem;
    padding-top: 2rem;
    padding-left: 12rem;
   

}

.menu .box-container .box {
    padding: 3rem;
    background-color: white;
    border-color: grey;
    box-shadow: 0.1rem 0.1rem grey;
    border-radius: 5%;
    width: 200px;
    height: 300px;
    border: 1px solid grey;
    
}

.menu.box-container .box img{
    width: 100%;
    object-fit: cover;

}
.menu .box-container .box h3{
    font-size: 1.5rem;
    padding: 1rem 0;

}


.menu .box-container .box .price{

    font-size: 2rem;
    padding: 0.5rem 0;

}



/* box2 start    
.menu .box-container2 .box {
    padding: 3rem;
    background-color: white;
    border-radius: 3rem;
    border-color: grey;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 1rem;
    

}
*/


.menu .box-container2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 0.00000001rem;
    padding-right: 12rem;
    padding-top: 2rem;
    padding-left: 12rem;
   

}

.menu .box-container2 .box {
    padding: 3rem;
    background-color: white;
    border-color: grey;
    box-shadow: 0.1rem 0.1rem grey;
    border-radius: 5%;
    width: 200px;
    height: 300px;
    border: 1px solid grey;
    
}

.menu.box-container2 .box img{
    width: 100%;
    object-fit: cover;

}
.menu .box-container2 .box h3{
    font-size: 1.5rem;
    padding: 1rem 0;

}


.menu .box-container2 .box .price{

    font-size: 2rem;
    padding: 0.5rem 0;

}

/* menü end*/


.altfotolar{
    display: flex;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 5rem;

}


@media (min-width: 992px){
    .side1 {
        width: 25%;
           } 
    }
    
    
    @media (min-width: 1200px){
    .content {
        width: 80vw;
               }
    }
    
    body{
        min-height: 100vh;
        width: 100%;
        background: rgb(255, 255, 255);
    }
    
    footer
    {
        position: relative;
        background: rgb(255, 255, 255);
        width: 100%;
        bottom: 20%;
        left: 0;
        padding-bottom: 20px;
        padding-top: 20px
    }
    
    #Bottom-footer 
    {
        text-align: center;
        color: #c6c6c6;
        padding-bottom: 0px;
        padding-top: 0px;
        bottom: 1%;
    }   
    
    .content
    {
        background-color: #ffffff;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 30px;
    }
    
    footer .container{
        padding-left: 50px;
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 20px;
        display: flex;
        
    }
    
    
    footer .container .side1 .side1-text
    {
        color :#c6c6c6;
    }
    
    
    footer .container .side2
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
       
    }
    
    footer .container .side2 .side2-col1 .side2-box
    {
        width: calc(100%/5-10px);
        margin-left: 10px;
        margin-right: 10px;
    }
    
    footer .container .side2 .side2-col2 .side2-box
    {
        width: calc(100%/5-10px);
        margin-left: 10px;
        margin-right: 10px;
    }
    
    footer .container .side2 .side2-col3 .side2-box
    {
        width: calc(100%/5-10px);
        margin-left: 10px;
        margin-right: 10px;
    }
    
    footer .container .side2 .side2-col4 .side2-box
    {
        width: calc(100%/5-10px);
        margin-left: 10px;
        margin-right: 10px;
    }
    
    footer .container .side2  .side2-box .side2-linkname
    {
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 400px;
        margin-bottom: 5px;
        position: relative;
    }
    
    footer li{
        list-style: none;
    }
    
    footer a:hover{
        color: rgb(3, 171, 101);
    }
    
    
    footer li a{
        color: #c6c6c6;
        text-decoration: none;
    }
    
    .page .content .content-alt p{
        padding-bottom: 1rem;
    }
    
    
    
    hr {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    #hr-bot{
        margin-top: 16px;
        margin-bottom:16px;
    }



/* üye ol start */


    .ÜyeOlheaderbuttons {
        margin-left: 10rem;
        color: black;
        padding: 1rem;
    }



    .üyeol h1{

        padding-left: 75rem;
        padding-top: 5rem;
        

    }


    .bilgiler .inputBox1{
        padding-left: 63rem;
        padding-top: 5rem;
    }

    .bilgiler .inputBox1 .ib1{

         text-align: left;
         border-radius: 10rem;
         height: 6rem;
         width: 30rem;
        
    }
    .bilgiler .inputBox2{
        padding-left: 63rem;
        padding-top: 2rem;
        
    }

    .bilgiler .inputBox2 .ib2{

         text-align: left;
         border-radius: 10rem;
         height: 6rem;
         width: 30rem;
         
    }
    .bilgiler .inputBox3{
        padding-left: 63rem;
        padding-top: 2rem;
    }

    .bilgiler .inputBox3 .ib3{

         text-align: left;
         border-radius: 10rem;
         height: 6rem;
         width: 30rem;
        
    }

    .bilgiler .checkbox{
        padding-left: 63rem;
        padding-top: 5rem;
    }


    .bilgiler .fnt{
        padding-left: 63rem;
        padding-top: 3rem;
        
    }

    .bilgiler .fnt .fbook{
        background-color: rgb(5, 159, 202);
        border-radius: 10rem;
        height: 5rem;
        width: 15rem;
        text-align: center;
        border-color: transparent;
        color: white;
        
    }
    .bilgiler .fnt .twt{
        background-color: rgb(255, 255, 255);
        border-radius: 10rem;
        height: 5rem;
        width: 15rem;
        text-align: center;
        border-color:rgb(5, 159, 202) ;
        color: rgb(5, 159, 202);
        
    }

    
    .kayıtol{
        padding-left: 63rem;
        padding-top: 2rem;
        
    }

   .kayıtol .btnkytol{
    width: 30rem;
    height: 4rem;
    border-radius: 10rem;
    background-color: #6fa931;
    border: transparent;
    color: white;

   }
/* üye ol end */

/*üye girişi start */

.üyegirişi h1{

    padding-left: 75rem;
    padding-top: 5rem;
    

}

.bilgiler2 .inputBox11{
    padding-left: 63rem;
    padding-top: 5rem;
}

.bilgiler2 .inputBox11 .ib11{

     text-align: left;
     border-radius: 10rem;
     height: 6rem;
     width: 30rem;
    
}
.bilgiler2 .inputBox22{
    padding-left: 63rem;
    padding-top: 2rem;
    
}

.bilgiler2 .inputBox22 .ib22{

     text-align: left;
     border-radius: 10rem;
     height: 6rem;
     width: 30rem;
     
}


.bilgiler2 .checkbox2{
    padding-left: 63rem;
    padding-top: 5rem;
}


.bilgiler2 .fnt2{
    padding-left: 63rem;
    padding-top: 3rem;
    
}

.bilgiler2 .fnt2 .fbook2{
    background-color: rgb(5, 159, 202);
    border-radius: 10rem;
    height: 5rem;
    width: 15rem;
    text-align: center;
    border-color: transparent;
    color: white;
    
}
.bilgiler2 .fnt2 .twt2{
    background-color: rgb(255, 255, 255);
    border-radius: 10rem;
    height: 5rem;
    width: 15rem;
    text-align: center;
    border-color:rgb(5, 159, 202) ;
    color: rgb(5, 159, 202);
    
}


.girişyap{
    padding-left: 63rem;
    padding-top: 2rem;
    
}

.girişyap .btngirisyap{
width: 30rem;
height: 4rem;
border-radius: 10rem;
background-color: #6fa931;
border: transparent;
color: white;

}



/* üye girişi end */


/*sepet start*/

.shoppingbag{
    padding-top: 6rem;
    padding-left: 70.5rem;
   
}

.sepetyazı{
    padding-top: 6rem;
    padding-left: 50.5rem;
   
}


















/*sepet end/*
