@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap"));

:root{
        --main-color: rgb(255, 255, 255);
        --black-color: rgb(123, 123, 123) ;
       

}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: none;
    transition: 0.2s ease;
}


html{
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-padding-top: 9rem;
        scroll-behavior: smooth;

    }

body{
    background-color: var(--main-color);
    
}

.logo img{
    width: 7rem;
  }

  /* header start */
  .header .logo img {
    height: 5rem;
    width: 15rem;
  }

  .header {
    background-color: white;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
  }

  .header  .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: black;
    border-bottom: 0.17rem solid transparent;


  }

  
  .header .navbar a:hover{
    
    border-color: rgb(128, 165, 42);
    padding-bottom: 1rem;
  }

  .header .buttons button{
    cursor: pointer;
    font-size: 1.6rem;
    margin-left: 8rem;
    background-color: white;

  }
  .dropbtn {
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0 7%;
    font-size: 1.6rem;
    margin: 0 1rem;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #ffffff;}
 
    /* header end */


/* iletişim css'i başı*/

.iletisimheaderbuttons {
    margin-left: 10rem;
    color: black;
    padding: 1rem;
}

.contact section{
    display: flex;
}
.contact{
    display: flex;
    gap: 1rem;
    }

    .contact form h2{
        width: 300%;
        font-size: 2.1rem;
        padding: 0 7%;
        margin-top: 2rem;
        margin-left: 6rem;
        
    }
    

.contact form .inputBox{
    margin-top: 2rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
    border-radius: 30%;
    border-color: grey;

}

.contact form .inputBox input{
    width: 300%;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    text-transform: none;
    background-color: none;
    border-radius: 30px;
    border: 1px solid rgba(109, 105, 105, 0.5);
    
}
.iletişimbilgileri{
    margin-left: 40rem;
    margin-top: 2rem;
    

}
.iletişimbilgileri h1{
    font-size: 2.1rem;
    
}


.iletişimbilgileri h3{
    margin-top: 2rem;
    font-size: 1.4rem;
    color: rgb(96, 93, 93);

}

.iletişimbilgileri h4{
    margin-top: 5.5rem;
    font-size: 1.5rem;
    

}

.contact form .btn1{
    margin-left: 8rem;
    color: white;
    background-color: #6fa931;
    font-weight: bold;
    border-color: white;
    border-radius: 50px ;
    margin-bottom: 4rem;
    height: 3.5rem;
    border: 1px solid rgba(109, 105, 105, 0.5);

}

.contact form .btn2{
    
    margin-left: 0.1rem;
    color: rgb(2, 2, 2);
    background-color: #ffffff;
    font-weight: bold;
    border-color: grey;
    border-radius: 50px;
    height: 3.5rem;
    border: 1px solid rgba(109, 105, 105, 0.5);
}



/* iletişim css'i sonu*/


/* menü start



.menu .box-container .box {
    padding: 3rem;
    background-color: white;
    border-radius: 3rem;
    border-color: grey;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    

}
*/

.menu h1{
    padding-top: 2rem;
    padding-left: 15rem;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 0.00000001rem;
    padding-right: 12rem;
    padding-top: 2rem;
    padding-left: 12rem;
   

}

.menu .box-container .box {
    padding: 3rem;
    background-color: white;
    border-color: grey;
    box-shadow: 0.1rem 0.1rem grey;
    border-radius: 5%;
    width: 200px;
    height: 300px;
    border: 1px solid grey;
    
}

.menu.box-container .box img{
    width: 100%;
    object-fit: cover;

}
.menu .box-container .box h3{
    font-size: 1.5rem;
    padding: 1rem 0;

}


.menu .box-container .box .price{

    font-size: 2rem;
    padding: 0.5rem 0;

}



/* box2 start    
.menu .box-container2 .box {
    padding: 3rem;
    background-color: white;
    border-radius: 3rem;
    border-color: grey;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 1rem;
    

}
*/


.menu .box-container2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 0.00000001rem;
    padding-right: 12rem;
    padding-top: 2rem;
    padding-left: 12rem;
   

}

.menu .box-container2 .box {
    padding: 3rem;
    background-color: white;
    border-color: grey;
    box-shadow: 0.1rem 0.1rem grey;
    border-radius: 5%;
    width: 200px;
    height: 300px;
    border: 1px solid grey;
    
}

.menu.box-container2 .box img{
    width: 100%;
    object-fit: cover;

}
.menu .box-container2 .box h3{
    font-size: 1.5rem;
    padding: 1rem 0;

}


.menu .box-container2 .box .price{

    font-size: 2rem;
    padding: 0.5rem 0;

}

/* menü end*/


.altfotolar{
    display: flex;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 5rem;

}
